body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #080808; /* Fallback color */
    color: #fff;
    background-image: url('../image/background.webp'); /* Arka plan resmi */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}

header {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

.container {
    display: flex;
    margin-top: 80px;
    height: calc(100vh - 80px);
}

.sidebar {
    width: 220px;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 15px;
    position: fixed;
    height: 100%;
    overflow-y: auto;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin: 15px 0;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

main {
    margin-left: 240px;
    padding: 20px;
    flex: 1;
}

form {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
}

form div {
    flex: 1 1 45%;
    margin: 10px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 20px;
    flex-basis: 100%;
}

form button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

footer {
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: rgba(255, 255, 255, 0.2);
    color: #000;
}

tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.05);
}
